#sidebar {
    box-sizing: border-box;
    padding-top: 120px;
    width: 8vw;
    min-height: calc(100%);
    position: fixed;
    top: 0px;
    left: 20vw;
}

#sidebar #sidebar__main-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#sidebar__main-links>a,
#sidebar__sub-links>a {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

#sidebar__main-links>a:hover,
#sidebar__sub-links>a:hover {
    background-color: rgb(75, 75, 75);
}

#sidebar__main-links,
#sidebar__sub-links {
    cursor: pointer;
}
