#question-form-page {
    box-sizing: border-box;
    margin: 20px 40px;
    gap: 20px;
}

.tag {
    gap: 5px;
    background-color: rgb(2, 79, 2);
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    padding: 5px;
}

.question-textarea {
    height: 150px;
}

.button {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}
