.saved-question-container {
  display: flex;
  flex-direction: column;
  width: var(--group-card-width);
  border: 1px solid var(--link-color);
  border-radius: 10px;
  margin-left: 30px;
  padding: 10px;
}

.saved-question-container:hover {
  box-shadow: 0px 0px 13px 1px lightgreen;
  transition: 300ms ease-in;
  transform: scale(1.02);
}

.saved-question-tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.saved-question-title {
  text-decoration: none;
}

.saved-question-title-tag-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saved-question-title:hover {
  color: var(--link-color);
}

.saved-question-vote-answer-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 2px 15px;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}

.saved-question-tag {
  background-color: rgb(73, 73, 73);
  border-radius: 0.5rem;
  color: white;
  padding: 3px 10px;
  margin: 0;
  white-space: nowrap;
}

.saved-question-tag-author-container {
  display: flex;
  justify-content: space-between;
}

.saved-question-vote-answer-container .saved-question-answered {
  border: 1px solid rgb(0, 144, 0);
  border-radius: 0.25rem;
  color: rgb(0, 144, 0);
  padding: 2px 3px;
}

.saved-question-vote-answer-unsave-container {
  display: flex;
  justify-content: space-between;
}

.unsave-button {
  background-color: red;
  border-color: red;
  cursor: pointer;
}

.saved-question-counter {
  margin-left: 30px;
}

.saved-question-vote-negative {
  border: 1px solid red;
  border-radius: 0.25rem;
  color: red;
  padding: 2px 3px;
}

.saved-question-vote-positive {
  border: 1px solid green;
  border-radius: 0.25rem;
  color: green;
  padding: 2px 3px;
}
