.main-container {
    position: relative;
    padding: 10px;
    gap: 10px;
}

input {
    color: var(--font-color);
}

button {
    cursor: pointer;
}

#confirmation-container {
    align-items: center;
}

#update-answer-buttons {
    justify-content: end;
}

#update-answer-textarea {
    height: 200px;
    width: 390px;
}
