.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.landing-page-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing-page-login-button-container,
.landing-page-signup-button-container,
.landing-page-questions-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.landing-page-login-button,
button.landing-page-signup-button,
button.landing-page-questions-button {
  font-size: 20px;
  background-color: var(--button-color);
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--font-color);
}

button.landing-page-login-button-container:hover,
button.landing-page-signup-button-container:hover,
button.landing-page-questions-button-container:hover {
  background-color: var(--button-color-hover);
  color: var(--font-color);
}

.landing-page-login-button>li,
.landing-page-signup-button>li {
  list-style: none;
}
